.product-image-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  width: 355px;
  height: 355px;
  overflow: hidden;
}

.product-image {
  width: auto;
  height: 100%;
  object-fit: cover;
}

.product-title {
  margin-bottom: 0.5rem;
}

.product-rating {
  margin-bottom: 0.5rem;
}

.product-price {
  margin-bottom: 0;
}

.horizontal-slider .slider-container {
  overflow-x: scroll;
  scrollbar-width: none;
}

.horizontal-slider .slider-wrapper {
  display: flex;
}
.slider-wrapper {
  display: none;
  scrollbar-width: none;
}

.horizontal-slider .slide {
  flex: 0 0 auto;
  margin-right: 10px; /* Adjust the spacing between slides */
}

.horizontal-slider .slide:last-child {
  margin-right: 0;
}

.rating-filter {
  display: flex;
  align-items: center;
}

.checkboxes label,
.stars span {
  margin-right: 8px;
}

.active-star {
  color: gold; /* Change the color to your desired active star color */
}

.inactive-star {
  color: gray; /* Change the color to your desired inactive star color */
}

.transition-image {
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
}

.transition-image.fade-out {
  opacity: 0;
}
